version: '3.8'
services:
  orion:
    image: quay.io/fiware/orion-ld:latest
    hostname: orion
    container_name: fiware-orion
    depends_on:
      - mongo
    ports:
      - "1026:1026"
    command: -dbhost mongo -logLevel DEBUG
    healthcheck:
      test: curl --fail -s http://orion:1026/version || exit 1
      interval: 5s
      
  mongo:
    image: mongo:4.4 
    hostname: mongo
    container_name: fiware-mongo
    expose:
      - "27017"
    volumes:
      - mongo-db:/data/db

  quantumleap:
    image: orchestracities/quantumleap:latest
    hostname: quantumleap
    container_name: fiware-quantumleap
    depends_on:
      - cratedb
      - orion
    ports:
      - "8668:8668"
    environment:
      - CRATE_HOST=cratedb
      - ORION_LD_HOST=orion
      - ORION_LD_PORT=1026
      - QL_DEFAULT_DB=smartcity
      
  cratedb:
    image: crate:4.6
    hostname: cratedb
    container_name: fiware-cratedb
    ports:
      - "4200:4200"
      - "5432:5432"
    volumes:
      - cratedb-db:/data

volumes:
  mongo-db:
  cratedb-db: